<div>
    <p style="background-color: rgb(173, 169, 153);"><b>Click Here To Create New Customer</b></p>
    <a [routerLink]="['/addcustomer']" class='btn btn-success'>Create Customer</a>
</div>

<div>
    <p style="background-color: rgb(173, 169, 153);"><b>Click Here To Get All Customer List</b></p>
    <a [routerLink]="['/custList']" class='btn btn-success'>Customer List</a>
</div>



<div>
    <p style="background-color: rgb(173, 169, 153);"><b>Click Here To Update Address</b></p>
    <a [routerLink]="['/updateCustAdd']" class='btn btn-success'>Update Address</a>
</div>

<div>
    <p style="background-color: rgb(173, 169, 153);"><b>Click Here To Find Customer</b></p>
    <a [routerLink]="['/showcust']" class='btn btn-success'>Show Customer</a>
</div>

<footer>
    <p style="text-align: center;">Copy Right     <a href="abc@apnacourier.com">abc@apnacourier.com</a></p>
  </footer>