

<div>
   
    <p style="background-color: rgb(173, 169, 153);"><b>Add Payment</b></p>
    <a [routerLink]="['/addPyament']" class='btn btn-success'>ADD Payment</a>
</div>
<div>
   
    <p style="background-color: rgb(173, 169, 153);"><b>Check Payment By Id</b></p>
    <a [routerLink]="['/showpayment']" class='btn btn-success'>Show Payment By ID</a>
</div>

<div>
   
    <p style="background-color: rgb(173, 169, 153);"><b>Show All Payment</b></p>
    <a [routerLink]="['/paymentlist']" class='btn btn-success'>All Payments</a>
</div>





