.maindiv{
    border:2px solid green;
    border-radius: 10px;
    margin:20px;
    padding:10px;
    width:auto;
    float:left;
    margin-left: 20%;
}
.maind{
    border:2px solid green;
    border-radius: 10px;
    margin:20px;
    padding:10px;
    width:600px;
    float:left;
    margin-left: 20%;
}
