<div style="background-color: cornsilk;">
<div>
    <div style="text-align: center;">
    <!--<br clear="left"/>-->
        <img src='/assets/about.jpg' alt="Image" class='img2' >
    </div>
    <p style="text-align:start;"><strong>
        Established in 2011 and headquartered at Bangalore, there are 7 Zonal offices, 20 strategically located Regional Offices and over 430 operating facilities spread across India. 
        we are now embarked upon its journey of transforming its identity from an Express Document Player to an Integrated Parcels driven business through its strategic partnership with Geopost's DPD group - Europe's second largest Parcels Delivery player. 
        The brand name is now being re-christened to <b>Apna Courier Limited</b> as the company focuses to enhance their expertise in the logistics sector under their Vision 2020 program.
        The strategy behind the repositioning of the brand is to project this company as a complete express logistics player that delivers significant value in the markets that it operates in across the globe. 
        And Presence in more than 500 district headquarters through its large network of more than 10500 franchisees and extends services to over 10,500 Pin codes while handling more than 12 million shipments every month.
    </strong></p>

</div>

<div style="background-color: cornsilk;">
    
        <address>
            <strong>
            Email Id: abc@apnacourier.com<br>
            Visit us at:<br>
            <a href="http://localhost:4200/home">Click here</a><br>
            Near Central mall,Shop No-#1,74/1<br>
            Ground Floor , Linga Reddy Complex<br>
            Bengaluru, Karnataka 560103<br>
            India<br>
            Phone No:1234566
        </strong> </address>
</div>

<footer>
    <p style="text-align: center;"><b>Copy Right   </b><a href="abc@apnacourier.com">abc@apnacourier.com</a></p>
  </footer>
</div>