
    
    <div>
        <p style="background-color: rgb(173, 169, 153);"><b>Click Here To Get Office List</b></p>
        <a [routerLink]="['/officelist']" class="btn btn-success">Courier Office List</a>
        </div>


        <div>
            <p style="background-color: rgb(173, 169, 153);"><b>Click Here To Get Office Details</b></p>
            <a [routerLink]="['/showoffice']" class="btn btn-success">Find Office</a>
        </div>


        <div>
            <p style="background-color: rgb(173, 169, 153);"><b>Click Here To Update Office Address</b></p>
            <a [routerLink]="['/updateofficeadd']" class="btn btn-success">Update Office Address</a>
        </div>

        <div>
            <p style="background-color: rgb(173, 169, 153);"><b>Click Here To Add New Office </b></p>
            <a [routerLink]="['/addoffice']" class="btn btn-success">Add New Office</a>
        </div>

    <footer>
        <p style="text-align: center;"><b>Copy Right       <a href="abc@apnacourier.com">abc@apnacourier.com</a></b></p>
      </footer>




