
<div>
    <p style="background-color: rgb(173, 169, 153);"><b>Click To Get all Couriers Details</b></p>
    <a [routerLink]="['/getall']" class='btn btn-success'>Show all Couriers</a>
</div>

<div>
    <p style="background-color: rgb(173, 169, 153);"><b>Click To Get Shipment by Delivered Date</b></p>
    <a [routerLink]="['/byDate']" class='btn btn-success'>Get shipments by delivered date</a>
</div>

<div>
    <p style="background-color: rgb(173, 169, 153);"><b>Get Courier Status</b></p>
    <a [routerLink]="['/cstatus']" class='btn btn-success'>get courier</a>
</div>

<div>
    <p style="background-color: rgb(173, 169, 153);"><b>For Order</b></p>
    <a [routerLink]="['/addcourier']" class='btn btn-success'>create</a>
</div>

<div>
    <p style="background-color: rgb(173, 169, 153);"><b>For Update Courier</b></p>
    <a [routerLink]="['/updatecourier']" class='btn btn-success'>update</a>
</div>

<div>
    <p style="background-color: rgb(173, 169, 153);"><b>To Close Shipment</b></p>
    <a [routerLink]="['/closeshipment']" class='btn btn-success'>close shipment</a>
</div>

<div>
    <p style="background-color: rgb(173, 169, 153);"><b>To Reject Shipment</b></p>
    <a [routerLink]="['/rejectshipment']" class='btn btn-success'>Reject shipment</a>
</div>

<footer>
    <p style="text-align: center;">Copy Right     <a href="abc@apnacourier.com">abc@apnacourier.com</a></p>
  </footer>


