
<div>
    <img src='/assets/add.jpg' alt="Image" class='img1' >
    <br clear="right" />
    <p style="background-color: rgb(173, 169, 153);"><b>To Add Employee click here </b></p>
    <a [routerLink]="['/add']" class='btn btn-success'>Add Employee</a>
</div>

<div>
    <br clear="left"/>
    <img src='/assets/showemp.jpg' alt="Image" class='img2' >
    
    <p style="background-color: rgb(173, 169, 153);"><b>This is for Employee details </b> </p>
    <a [routerLink]="['/show']" class='btn btn-success'>Show Employee</a>
    </div>

    <div>
        <br clear="left"/>
        <img src='/assets/updateemp.jpg' alt="Image" class='img2' >
        <p style="background-color: rgb(173, 169, 153);"><b>This is for Update Employee details</b> </p>
        <a [routerLink]="['/update']" class='btn btn-success'>Update Employee</a>
        </div>

        <div>
            <br clear="left"/>
            <img src='/assets/updateadd.jpg' alt="Image" class='img3' >
            <p style="background-color: rgb(173, 169, 153);"><b>This is for Update Employee details</b> </p>
            <a [routerLink]="['/updateAdd']" class='btn btn-success'>Update Employee Addesss</a>
            </div>

        <div>
            <br clear="left"/>
            <img src='/assets/complaints.jpg' alt="Image" class='img3' >
            <p style="background-color: rgb(173, 169, 153);"><b>Click here to get all registered Complaints</b> </p>
            <a [routerLink]="['/allComp']" class='btn btn-success'>All registered Complaints</a>
            </div>


        <footer>
            <p style="text-align: center;">Copy Right     <a href="abc@apnacourier.com">abc@apnacourier.com</a></p>
          </footer>
